@use '../../common' as common;
@use '../../typography' as typography;

.form__wrapper {
    width: 100%;
    max-width: common.remy(500);
    padding: common.remy(16);
    border-radius: common.remy(16);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    background: rgb(255, 255, 255);
}

.form__heading {
    margin-bottom: common.remy(16);
}

.form__heading-title {
    @extend .h2;
}

.form__body {
    margin-bottom: common.remy(24);
}

.form__footer {}

.button {
    display: inline-block;
    width: 100%;
    height: common.remy(48);
    font-size: common.remy(16);
    line-height: common.remy(48);
    border-radius: 8px;
    background: rgb(81, 38, 137);
    color: common.$white;
}